* {
	margin: 0;
	padding: 0;
}
body {
	font-family: Arial;
	background-color: #F3E7F3;
}


.title {
	background-image: url(/DuettoDeSabor/images/titulo4.jpg);
	width: 797px;
	height: 100px;
	margin: auto;
	box-shadow: -2px 2px 3px #969696, 2px 2px 3px #969696;
	border-bottom: 2px solid white;
}


